<header>
	<h1>Triangle Food Service</h1>

	<nav>
		<ul class = "tabs">
			<li><a href="/">Home</a></li>
			<li><a href="/signin">Sign in</a></li>
			<li><a href="/cartpage">Cart: <span id="cartTotal"><%= cartTotal%></span></a></li>
		</ul>
	</nav>
</header>