
header {
	/*background: grey;*/
}

ul, ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	/*background-color: grey;*/

}
ul {
	width: 100%;
	text-align: center;
	background: grey;
}

ul li{
	/*float: left;*/
	display: inline-block;
	margin:0;
	padding: 0;
}

a{
	text-decoration: none;
	font-size: 28px;
	padding: 15px;
	display: inline-block;
	background-color: grey;
	margin:0;
}

a :hover{
	background-color: #555;
}